app-header-one{
    position: absolute;
    width: 100%;
}
.section-m-top-space{
    padding-top: 0px;
}
.m-b-3{
    margin-bottom: 30px;
}
.collection-banner .contain-banner.banner-3 h2 {
    color: #222;
}
.collection-banner .contain-banner.banner-3 h4{
    font-size: 15px;
    color: #d4b196;
}
@media (max-width: 1367px){
    .collection-banner .contain-banner.banner-3 {
        padding-right: 45px;
        padding-left: 160px;
    }
    .collection-banner .contain-banner.banner-3 h2 {
        font-size: 18px;
    }
}
.section-m-t-space{
    padding-top: 0px;
}
.full-banner{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-m-t-space .m-btn-div{
    margin-bottom: 20px;
}