<form class="needs-validation" [formGroup]="itemFrom" (ngSubmit)="onSubmit()">
    <div class="add-product-form row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="validationCustomTitle" class="col-form-label pt-0"><span>*</span> Title</label>
                <input class="form-control" id="validationCustomTitle"
                    type="text" [formControl]="itemFrom.controls['title']" required>
                <div *ngIf="itemFrom.controls.title.touched && itemFrom.controls.title.errors?.required"
                    class="text text-danger">
                    Title Name is required.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="validationCustomPrice" class="col-form-label pt-0"><span>*</span> Price </label>
                <i class='dollar-icon'>$</i>
                <input class="form-control" id="validationCustomPrice"
                    type="number" [formControl]="itemFrom.controls['price']" required="">
                <div *ngIf="itemFrom.controls.price.touched && itemFrom.controls.price.errors?.required"
                    class="text text-danger">
                    Item Price is required.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="validationCustomDiscount" class="col-form-label pt-0"><span>*</span> Product discount</label>
                <i class='dollar-icon'>$</i>
                <input class="form-control" id="validationCustomDiscount"
                    type="number" [formControl]="itemFrom.controls['discount']" required="">
                <div *ngIf="itemFrom.controls.discount.touched && itemFrom.controls.discount.errors?.required"
                    class="text text-danger">
                    Item discount is required.
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelectCollection" class="col-form-label pt-0">Select Collection</label>
                <select class="form-control" id="exampleFormControlSelectCollection" [formControl]="itemFrom.controls['selectedCol']" required="">
                    <option></option>
                    <option *ngFor="let col of collections" [value]='col.col_id'>{{col.col_text}}</option>
                </select>
            </div>
        </div> -->
        <div class="col-md-6">
            <!-- <div class="form-group">
                <label for="exampleFormControlCategory" class="col-form-label pt-0">Select Category</label>
                <select class="form-control"
                    id="exampleFormControlCategory" name='category' [formControl]="itemFrom.controls['selectedCat']" required="">
                    <option></option>
                    <option *ngFor="let cat of categories" [value]='cat.cat_id'>{{cat.cat_value}}</option>
                </select>
            </div> -->
            <div class="form-group">
                <label for="exampleFormControlSelectCategory" class="col-form-label pt-0">Select Category</label>
                <ng-multiselect-dropdown
                name = "category"
                formControlName="category"
                class= "form-control dropdownlist"
                [placeholder]="'Select Category'"
                [settings]="categorySettings"
                [data]="categories"
                [(ngModel)]="selectedCats"
                (onSelect)="onCatSelect($event)"
                (onSelectAll)="onSelectAllCat($event)"
                >
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1" class="col-form-label pt-0">Select Materials</label>
                <ng-multiselect-dropdown
                name = "material"
                formControlName="material"
                class= "form-control dropdownlist"
                [placeholder]="'Select Materials'"
                [settings]="dropdownSettings"
                [data]="materialList"
                [(ngModel)]="selectedItems"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
            </div>
           
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelectTag" class="col-form-label pt-0">Select Tags</label>
                <select class="form-control" placeholder='Select a tag'
                    id="exampleFormControlSelectTag" name="tag" [formControl]="itemFrom.controls['selectedTag']" required>
                    <option></option>
                    <option *ngFor="let tag of tags" [value]='tag.tag_id'>{{tag.tag_value}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label pt-0">Total Item</label>
                <div class="qty-box1">
                    <div class="input-group">
                        <i class="fa fa-minus btnGtr1" (click)=decrement()></i>
                        <input class="touchspin1 text-center" required name="counter" [value]="counter" type="text">
                        <i class="fa fa-plus btnLess1" (click)=increment()></i>
                    </div>
                </div>
            </div>
        </div>
        
        

        <div class="col-md-6">
            <div class="form-group">
                <label for="validationCustomMetaTitle" class="col-form-label pt-0"> Meta Title</label>
                <input class="form-control" id="validationCustomMetaTitle" type="text" [formControl]="itemFrom.controls['metaTitle']" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Meta Description</label>
                <textarea class="form-control" rows="4" cols="12" [formControl]="itemFrom.controls['metaDesc']" required></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Description</label>
                <textarea class="form-control" rows="4" cols="12" [formControl]="itemFrom.controls['description']" required></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label pt-0">Dimension</label>
                        <div class="qty-box1 dimension-box">
                            <div class="input-group">
                                <input class="touchspin1 text-center" [formControl]="itemFrom.controls['dx']" required name="dx" type="number">
                                <i class="fa btnLess1 btnx">x</i>
                                <input class="touchspin1 text-center" [formControl]="itemFrom.controls['dy']" required name="dy" type="number">
                                <i class="fa btnLess1">Inch</i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="validationCustomAlt" class="col-form-label pt-0"> Image Alt</label>
                        <input class="form-control" id="validationCustomAlt" [formControl]="itemFrom.controls['imageAlt']" required type="text">
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="custom-dropzone dropzone-custom" ngx-dropzone [multiple]='false' [accept]="'image/*'" (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div class="dz-message needsclick">
                                    <i class="fa fa-cloud-upload"></i>
                                    <h4 class="mb-0 f-w-600">Drop files here or click to upload.</h4>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
                </div>

                

            </div>
            
        </div>

        <div class="col-md-6">
            <div class="form-group mb-0">
                <div class="product-buttons col-sm-8">
                    <button type="submit" class="btn btn-primary mr-1">Save</button>
                    <button type="button" class="btn btn-light">Discard</button>
                </div>
            </div>
        </div>
        
    </div>

</form>