.category-img-h{
    max-height: 260px;
    padding: 20px;
    width: auto !important;
}
.category-wrapper-1 h5{
    margin-bottom: 0px;
}
.category-wrapper-1{
    padding-top: 10px;
}
.category-wrapper-1 .cart-info {
    top: 100px;
    bottom: auto;
}