<app-header-one [sticky]="true"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
  <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'fashion'" [buttonText]="'Explore Art'">
  </app-slider>
</section>
<!-- Home slider End -->

<!-- collection banner start-->
<!-- <section class="pb-0">
  <div class="container">
    <div class="row partition2">
      <div class="col-md-6" *ngFor="let collection of collections">
        <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
          <div class="collection-banner p-right text-center">
            <img [src]="collection.image" class="img-fluid" alt="collection-banner">
            <div class="contain-banner">
              <div>
                <h4>{{collection.save}}</h4>
                <h2>{{collection.title}}</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->
<!-- collection banner End -->

<!-- Product slider start-->
<div class="title1 section-t-space">
  <h4>Available For Sale</h4>
  <h2 class="title-inner1">Latest Items</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="product-para">
        <p class="text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry,
          Lorem Ipsum has been the industry's standard.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- category -->
<!-- <section class="section-b-space section-m-top-space">
  <div class="container">
      <div class="row">
          <div class="col app-collection-sect">
              <app-collection [categories]="categories" [category]="'watch'"></app-collection>
          </div>
      </div>
  </div>
</section> -->
<!-- category end -->
<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col app-collection-sect">
        <owl-carousel-o class="category-m home-slider" [options]="ProductSliderConfig">
          <ng-container *ngFor="let product of productsCategory | slice:0:5">
            <ng-template carouselSlide>
              <div class="product-box">
                <app-product-box-latest [product]="product" [currency]="productService?.Currency" [thumbnail]="true"
                  [cartModal]="true">
                </app-product-box-latest>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- Product slider End -->
<!-- Explore -->
<div class="title1">
  <h4>Schools</h4>
  <h2 class="title-inner1">Explore</h2>
</div>
<!-- collection category -->

<section class="p-0">
  <div class="full-banner parallax-banner1 parallax text-center p-left"
    [ngStyle]="{'background-image': 'url(assets/images/parallax/11.jpg)'}">
    <div class="container-fluid">
      <div class="row partition3">
        <div class="col-lg-3 col-md-6 col-sm-12 m-b-3" *ngFor="let collection of collectionsCategory">
          <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'furniture'}">
            <div class="collection-banner p-right text-right">
              <img [src]="collection.image" alt="collection" class="img-fluid lazyload">
              <div class="contain-banner banner-3">
                <div>
                  <h4>{{collection.save}}</h4>
                  <h2>{{collection.title}}</h2>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <section class="section-m-t-space">
        <div class="row partition1">
          <div class="col-lg-9 col-md-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-6 m-btn-div" *ngFor="let category of categoriesName">
                <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'bags'}"
                  class="btn btn-outline btn-block">
                  {{category}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</section>
<!-- collection Category end -->

<!-- Tab product start-->
<div class="title1 section-t-space">
  <h4>exclusive products</h4>
  <h2 class="title-inner1">Popular Items</h2>
</div>
<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col theme-tab">
        <ngb-tabset [justify]="'center'" [type]="'pills'" class="tabs tab-title">
          <ngb-tab *ngFor="let collection of productCollections">
            <ng-template ngbTabTitle>{{collection}}</ng-template>
            <ng-template ngbTabContent>
              <div class="no-slider row">
                <ng-container *ngFor="let product of getCollectionProducts(collection) | slice:0:8">
                  <div class="product-box">
                    <app-product-box-one [product]="product" [currency]="productService?.Currency" [thumbnail]="true"
                      [cartModal]="true">
                    </app-product-box-one>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</section>
<!-- Tab product End -->






<!-- Event section start-->
<section class="blog p-t-0">
  <div class="container border-section p-t-6">
    <div class="row">
      <div class="col">
        <div class="title1 title5 ">
          <!-- <h4>Upcoming</h4> -->
          <h2 class="title-inner1">Events</h2>
          <hr role="tournament6">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-blog [blogs]="blog"></app-blog>
      </div>
    </div>
  </div>
</section>
<!-- blog section End -->

<!-- services start-->
<div class="container">
  <section class="service small-section">
    <app-services></app-services>
  </section>
</div>
<!-- services End -->

<!--  logo section start-->
<!-- <section class="section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-logo [logos]="logo"></app-logo>
      </div>
    </div>
  </div>
</section> -->
<!--  logo section End-->

<app-newsletter [hidden]='true'></app-newsletter>
<app-footer-one [hidden]='true'></app-footer-one>
<app-footer-three [themeLogo]="themeLogo" [subFooter]="true"></app-footer-three>