.login-btn{
    padding-top: 27px;
    padding-bottom: 27px;
}
.login-btn .btn-outline{
    padding: 7px 20px;
}
.login-btn .btn-outline, .login-btn .btn-outline:hover:before, .login-btn .btn-outline:focus:before{
    border-radius: 25px;
    background-color: #fff;
}
.login-btn .btn-outline:hover, .login-btn .btn-outline:focus{
    color: #ffffff !important;
    background-color: #ff4c3b;
    background-color: var(--theme-deafult);
}
.section-m-top-space{
    padding-top: 0px;
}
.m-b-3{
    margin-bottom: 30px;
}
.collection-banner .contain-banner.banner-3 h2 {
    color: #222;
}
.collection-banner .contain-banner.banner-3 h4{
    font-size: 15px;
    color: #d4b196;
}
@media (max-width: 1367px){
    .collection-banner .contain-banner.banner-3 {
        padding-right: 45px;
        padding-left: 160px;
    }
    .collection-banner .contain-banner.banner-3 h2 {
        font-size: 18px;
    }
}
.section-m-t-space{
    padding-top: 0px;
}
.full-banner{
    padding-top: 50px;
    padding-bottom: 50px;
}
.category-search-sect{
    max-height: 450px;
    overflow-y: auto;
}
@media (max-width: 430px) {
    .category-search-sect{
        max-height: 300px;
    }  
}
@media (max-width: 577px){
    #category-img {
        display: block; 
    }
}