<owl-carousel-o [options]="BlogSliderConfig" class="home-slider blog-slider">
  <ng-container *ngFor="let blog of blogs">
    <ng-template carouselSlide>
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-5 m-a">
            <div class="classic-effect" style="max-height: 270px;">
              <img [lazyLoad]="blog.image" [src]="blog.image" class="img-fluid" alt="blog">
              <span></span>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="blog-details">
              <table>
                <tr>
                  <td>
                    <h4><i class="fa fa-map-marker"></i></h4>
                  </td>
                  <td>
                    <h4 style="padding-left: 5px;">{{' ' + blog.location}}</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4><i class="fa fa-calendar"></i></h4>
                  </td>
                  <td>
                    <h4 style="padding-left: 5px;">{{' ' + blog.date}}</h4>
                  </td>
                </tr>
              </table>

              <p class="title">
                <!-- [routerLink]="'/pages/blog/details'" -->
                <a href="#">{{blog.title}}
                </a>
              </p>
              <hr class="style1">
              <div class="border-product">
                <p class="p-desc">{{ blog.description.substring(0, 200)+'...' }}</p>
              </div>
              <div class="border-product">
                <div class="row">
                  <div class="col-lg-7">
                    <h6>{{'Organized by: '+blog.by}}</h6>
                    <h6 style="color: var(--theme-deafult);"><i class="fa fa-info-circle"></i> {{blog.category}}</h6>
                  </div>
                  <div class="col-lg-5 blog-btn">
                    <div class="product-buttons">
                      <a href="javascrip:void(0)" class="btn btn-solid">Read more</a> <a href="javascrip:void(0)" class="ml-3 f18"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>