<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row" *ngIf="isLoggedIn">
            <div class="col-lg-12">
                <div class="theme-card">
                    <div class="alert alert-success"> Logged in as {{ roles }}.
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!isLoggedIn">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form class="theme-form needs-validation" *ngIf="!isLoggedIn" [formGroup]="loginForm"
                        (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="col-form-label"><span>*</span> User Name</label>
                            <input type="text" class="form-control mb-1"
                                [ngClass]="{ 'is-invalid': submitted && f.uname.errors }" id="uname"
                                placeholder="User Name" [formControl]="loginForm.controls['uname']" required>
                            <div *ngIf="submitted && f.uname.errors" class="text text-danger invalid-feedback">
                                <div *ngIf="f.uname.errors.required">User Name is required.</div>
                                <div *ngIf="f.uname.errors.minlength"> Username must be at least 6 characters.
                                </div>
                                <div *ngIf="f.uname.errors.maxlength">Username must not exceed 20 characters.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label"><span>*</span> Password</label>
                            <input type="password" class="form-control mb-1" id="password"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                placeholder="Enter your password" [formControl]="loginForm.controls['password']"
                                required>
                            <div *ngIf="submitted && f.password.errors" class="text text-danger invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">
                                    Password must be at least 6 characters
                                </div>
                                <div *ngIf="f.password.errors.maxlength">
                                    Username must not exceed 40 characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="review"><a class="btn btn-default forgot-pass"
                                    [routerLink]="['/pages/forget/password']">lost your password</a></label>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-solid" type="submit">Login</button>
                        </div>

                        <div class="form-group">
                            <div class="alert alert-danger" role="alert" *ngIf="submitted && isLoginFailed">Login
                                failed: {{ errorMessage }}</div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able
                        to order from our shop. To start shopping click register.</p>
                    <button class="btn btn-solid" [routerLink]="['/pages/register']">Create an Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->